{% extends "base.html" %}

{% block content %}
<div class="container row" style="margin: auto; margin-top: 1rem; text-align: center; justify-content: center;">

  <div class="card text-white bg-dark" style="width: 25rem; margin-right: 2rem; margin-bottom: 1rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/comunione.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comunione</h5>
      <p class="card-text">Organizza la tua festa di comunione con NOI, sceglieremo la miglior festa per TE!</p>
      <p class="card-text"><b>A partire da 50 euro.</b></p>
      <a href="/comunione" class="btn btn-warning">Acquista</a>
    </div>
  </div>
  <div class="card text-white bg-dark" style="width: 25rem; margin-right: 2rem; margin-bottom: 1rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/matrimonio.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Matrimonio</h5>
      <p class="card-text">Il tuo matrimonio sara' un momento indimenticabile, con noi sicuramente!</p>
      <p class="card-text"><b>A partire da 70 euro.</b></p>
      <a href="/matrimonio" class="btn btn-warning">Acquista</a>
    </div>
  </div>
  <div class="card text-white bg-dark" style="width: 25rem; margin-right: 2rem; margin-bottom: 1rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/compleanno.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Compleanno</h5>
      <p class="card-text">Organizza la tua festa di compleanno per tutte le eta'!</p>
      <p class="card-text"><b>A partire da 40 euro.</b></p>
      <a href="/compleanno" class="btn btn-warning">Acquista</a>
    </div>
  </div>
  <div class="card text-white bg-dark" style="width: 25rem; margin-right: 2rem; margin-bottom: 1rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='images/evento.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Festa Evento</h5>
      <p class="card-text">A seconda del periodo riceverai la tua festa a EVENTO!</p>
      <p class="card-text"><b>A partire da 60 euro.</b></p>
      <a href="/misc" class="btn btn-warning">Acquista</a>
    </div>
  </div>
</div>

{% endblock %}